.container {
    border: 10px solid black;
    margin: 5% 5%;
    width: 384px;
    height: 384px;
    
}

.test {
    border: 10px solid black;
}

.divSquare{
    border: 2px solid green;
    width: 20px;
    height: 20px;
    float: left;
}