.container {
    border: 10px solid black;
    margin-top: 5%;
    margin-left: 35%;
    width: 384px;
    height: 384px;
    
}

.test {
    border: 10px solid black;
}

.divSquare{
    border: 2px solid green;
    width: 20px;
    height: 20px; 
    float: left;
}

#form {
    text-align: center;
}

html {
    margin-top: 3%;
    background-image: url('images/spacebackground.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}